<!DOCTYPE html>
<html>
  <head>
    <title>Mi vista</title>
    <style>
      body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  h1 {
    color: #333;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
  }

  p {
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin: 30px auto;
    max-width: 600px;
  }
    </style>
  </head>
  <body>

  <h1>Bienvenido a la vista de Usuario</h1>
  <p>Esta será la vista para el usuario con Rol Normal</p>
  <h3> {{time}} </h3>

  </body>
</html>
